html{color:#000;
	background:#FFE473; 
	padding:30px;
	font: 13px/19px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
/* 제목 글씨*/
h1{font-size:24px; line-height:28px; font-weight:bold;}
/*레이아웃*/
#wrap{width:960px; margin:0 auto; background-color:#78E700; border-style:solid; border-width:2px;}
/*꾸미기*/
#pr{width:1000px; color:#6549D7; float:left; text-align:center; font-weight:bold;}
#pic{width:600px; float:left; text-align:center;}
/*네비게이션*/
#navbar{width:950px; height:20px; background-color:#fff;}
#navbar ul {margin:0;padding:0;}
#navbar ul li {float:left;}
#navbar ul li a{
	color:#fff; background-color:#CD0074;
	display:block;
	width:120px;
	text-align:center;
	padding:0px 5px; 
	font: bold 15px/30px;
	text-decoration:none;
	margin-right:1px;
}
#navbar a.selected {background-color:#E667AF;}
#navbar a:hover {background-color:#408DD2;}

/*intro*/
#intro{width:350px; float:left;}
/*footer*/
#footer{text-align: center; margin:20px;}

#tname{text-align: center;}
#quname{text-align: center;}
#choose{text-align: center;}